<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href ="/static/css/tailwind.css">
    <script src="/static/js/socket.io.min.js"></script>
    
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->


    <title>Upload</title>
</head>

<body class="bg-gray-200 flex justify-center items-center min-h-screen">

    <!-- MAIN CONTAINER -->
    <div class="bg-white w-full max-w-[340px] h-[640px] p-4 rounded-2xl shadow-lg flex flex-col">
        <!-- TOKEN -->
        <div class="flex items-center gap-3 mb-4">
            <div class="w-12 h-12 bg-green-300 rounded-full flex items-center justify-center">
                <svg class="w-6 h-6" fill="None" stroke="black" stroke-width="2" viewBox="0 0 24 24">
                    <path d="M12 12c2.7 0 5-2.2 5-5s-2.3-5-5-5-5 2.2-5 5 2.3 5 5 5z" />
                    <path d="M5 20a7 7 0 0114 0" />
                </svg>
            </div>

            <div>
                <p class="font-bold italic">Token ID:</p>
                <div class="bg-gray-200 px-3 py-1 rounded-lg mt-1">
                    {{ token }}
                </div>
            </div>
        </div>

        <!-- STATUS -->
        <div id="statusMsg" class="hidden text-sm mb-3"></div>

        <!-- UPLOAD BOX -->
        <div class="border-2 border-dashed border-gray-400 rounded-xl p-5 text-center mb-4">

            <svg class="w-10 h-10 mx-auto mb-2 text-gray-500" fill="none" stroke="currentColor" stroke-width="2"
                viewBox="0 0 24 24">
                <path d="M7 7h10M7 11h10M7 15h6M5 3h10l4 4v14H5z" />
            </svg>

            <p class="text-sm">
                <span class="text-purple-500 font-semibold">Drag & Drop</span>
                your file here
            </p>

            <p class="my-2 font-semibold">OR</p>

            <input type="file" id="fileInput" multiple class="hidden">

            <button onclick="document.getElementById('fileInput').click()"
                class="bg-gray-200 px-5 py-2 rounded-xl font-semibold">
                choose files
            </button>
        </div>

        <!-- PREVIEW -->
        <p class="italic font-semibold mb-1">preview :</p>

        <div id="preview" class="flex-1 overflow-y-auto border rounded-xl p-2 mb-2 bg-gray-100">
           
        </div>
        <!-- incoming fil popup -->
        <div id="incomingPopup" class="hidden fixed 
        inset-0 flex items-center justify-center bg-black bg-opacity-40 z-50">

          <div class="bg-white p-5 rounded-xl shadow-xl w-[260px] text-center">

           <p class="font-bold text-lg mb-3">📥 Incoming File</p>

           <p id="incomingName" class="text-sm mb-4 truncate"></p>

           <div class="flex justify-between gap-3">
             <button onclick="acceptIncoming()" 
               class="flex-1 bg-green-300 py-2 rounded-xl font-semibold">
               Accept
             </button>

             <button onclick="rejectIncoming()" 
               class="flex-1 bg-red-400 py-2 rounded-xl text-white font-semibold">
               Reject
             </button>
           </div>

          </div>
        </div>
        
        <!-- BUTTONS -->
        <div class="flex gap-2 mt-auto">
            <button onclick="cancelAll()" class="w-1/2 bg-gray-300 py-2 rounded-xl text-lg">
                cancel
            </button>

            <button onclick="uploadFiles()" class="w-1/2 bg-cyan-500 text-white py-2 rounded-xl text-lg">
                Upload
            </button>
        </div>

    </div>

    <script>
        let files = [];
        let uploadQueue = [];
        let currentXHR =null;
        let isUploading = false;
        let cancelUpload = false;  
        const iconCache = {};
        [
            "/static/image_file.png",
            "/static/video_file1.png",
            "/static/pdf_file.png",
            "/static/excel_file1.png",
            "/static/docx_file.png",
            "/static/file_icon1.png",
        ].forEach(src =>{
            const img =new Image ();
            img.src=src;
            iconCache[src]=img;
        });


        const socket = io(window.location.origin,{
            transports:["polling"]
        });
        
        const token ="{{token}}";
        // register this mobile device
        const deviceName= "Mobile-"+ token;
        socket.on("connect",() => {
            console.log("CONNECTED:",socket.id);
            
            socket.emit("register", {
                name: deviceName
            });
        });

        let incomingQueue =[];
        let incomingFile = null;

        // TEST RECEIVING FILE
        socket.on("incoming_file", (data) => {
            incomingQueue.push (data);
            if(!incomingFile){
                showNextFile();
            }
        });
        function showNextFile(){
            if (incomingQueue.length===0){
              incomingFile=null;
              return;
            }
            incomingFile=incomingQueue[0];
            document.getElementById("incomingName").innerText=incomingFile.filename;
            document.getElementById("incomingPopup").classList.remove("hidden");

        }
        function acceptIncoming(){
            if (!incomingFile) return;
            const a = document.createElement("a");
            a.href=`/temp-download/${incomingFile.stored}`;
            a.download=incomingFile.filename;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
            
            nextFile();
        }
        function rejectIncoming(){
            if (!incomingFile) return;
            fetch(`/temp-delete/${incomingFile.stored}`);
            nextFile();
        }
        function nextFile(){
            document.getElementById("incomingPopup").classList.add("hidden")
            incomingQueue.shift();
            incomingFile=null;
            setTimeout(()=>{
                showNextFile();
            },300);
        }
        const dropArea = document.querySelector(".border-dashed");

            // Drag over
            dropArea.addEventListener("dragover", (e) => {
                e.preventDefault();
                dropArea.classList.add("bg-gray-100");
            });

            // Drag leave
            dropArea.addEventListener("dragleave", () => {
                dropArea.classList.remove("bg-gray-100");
            });

            // Drop
            dropArea.addEventListener("drop", (e) => {
                e.preventDefault();
                dropArea.classList.remove("bg-gray-100");

                let droppedFiles = Array.from(e.dataTransfer.files);

                files = files.concat(droppedFiles);
                renderPreview();
            });
        

        // SELECT FILES
        document.getElementById("fileInput").addEventListener("change", function (e) {
            let newFiles= Array.from(e.target.files);
            files=files.concat(newFiles);
            renderPreview();
        });
        function getFileIcon(name){

            const ext = name.split('.').pop().toLowerCase();
            if (["png","jpg","jpeg"].includes(ext)) return "/static/image_file.png";
            if (["mp4","mkv"].includes(ext)) return "/static/video_file1.png";
            if (["pdf"].includes(ext)) return "/static/pdf_file.png";
            if (["doc","docx"].includes(ext)) return "/static/docx_file1.png";
            if (["xls","xlsx"].includes(ext)) return "/static/excel_file1.png";
            return "/static/file_icon.png";
        }
        function formatFileSize(bytes){
            const kb =bytes/ 1024;
            const mb = kb/1024;
            const gb = mb/1024;
            if (gb>= 1){
                return gb.toFixed(2) + " GB";
            }
            if(mb>=1){
                return mb.toFixed(2) + " MB";
            }
            return kb.toFixed(1) + " KB";
        }

        // PREVIEW
        function renderPreview() {
            let preview = document.getElementById("preview");
            preview.innerHTML = "";

            files.forEach((file, index) => {
                let div = document.createElement("div");

              div.className = "flex justify-between items-center border rounded-xl px-3 py-2 mb-2 bg-white shadow-sm";
                div.classList.add("hover:bg-gray-200");
                // div.className = "flex items-center gap-3 p-3 bg-white rounded-xl shadow-sm mb-2";

                div.innerHTML = `

                   <!-- ICON -->
                   <img decoding="async" loading ="eager" src="${getFileIcon(file.name)}" class="w-10 h-10 flex-shrink-0">

                   <!-- INFO -->
                   <div class="flex-1 min-w-0">
                     <p class="text-sm font-semibold truncate w-full block">${file.name}</p>
                     <p class="text-xs text-gray-500">${formatFileSize(file.size)}</p>
                   </div>

                   <!-- PROGRESS -->
                   
                     <div class="relative w-12 h-12">
                       <svg class="w-full h-full transform -rotate-90">
                         <circle cx="24" cy="24" r="20"
                           stroke="#e5e7eb"
                           stroke-width="4"
                           fill="none"/>
                         <circle class="progress-bar"
                           cx="24" cy="24" r="20"
                           stroke="green"
                           stroke-width="4"
                           fill="none"
                           stroke-dasharray="125.6"
                           stroke-dashoffset="125.6"/>
                       </svg>

                       <span class="progress-text absolute inset-0 flex items-center justify-center text-xs">
                         0%
                       </span>
                     </div>
                   

                     <!-- DELETE -->
                     <button onclick="removeFile(${index})"
                      class="p-1 rounded-full hover:bg-red-100">
                        <svg class= "w-6 h-6 text-pink-500" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                          <path d="M3 6h18"/>
                          <path d="M8 6V4h8v2"/>
                          <path d="M19 6l-1 14H6L5 6"/>
                          <path d="M10 11v6"/>
                          <path d="M14 11v6"/>
                        </svg>
                     </button>
                    
                `;
                preview.appendChild(div);
            });
        }
        // REMOVE ONE FILE
        function removeFile(index) {
            files.splice(index, 1);
            renderPreview();
        }

        // CANCEL ALL
        function cancelAll() {
            files = [];
            document.getElementById("fileInput").value = "";
            renderPreview();
        }

        // MESSAGE
        function showMessage(text, success = true) {
            let msg = document.getElementById("statusMsg");
            msg.classList.remove("hidden");

            if (success) {
                msg.className = "text-green-600 flex items-center gap-2 mb-3";
                msg.innerHTML = `
            <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="3"
                 viewBox="0 0 24 24">
                <path d="M5 13l4 4L19 7"/>
            </svg>
            ${text}
        `;
            } else {
                msg.className = "text-red-500 flex items-center gap-2 mb-3";
                msg.innerHTML = `
            <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="3"
                 viewBox="0 0 24 24">
                <path d="M6 18L18 6M6 6l12 12"/>
            </svg>
            ${text}
        `;
            }
        }

        // UPLOAD
        async function uploadFiles(){

          if (files.length === 0){
            showMessage("No file selected", false);
            return;
          }
          if (isUploading) return;
          cancelUpload = false;
          isUploading = true;

          uploadQueue = [...files];
          while(uploadQueue.length > 0){
            if (cancelUpload){
              break;
            }
            const file = uploadQueue[0];
            try {
              await uploadSingleFile(file);
              files = files.filter(f => f!== file);
              renderPreview();
              uploadQueue.shift();
            }
            catch (err){
                if (cancelUpload){
                    showMessage("Upload cancelled", false);
                }
                else{
                    showMessage("Upload failed", false);
                }
                break;
            }
          }
          isUploading = false;
          if(!cancelUpload && uploadQueue.length === 0){
            showMessage("All files uploaded successfully");
          }
        }
        function uploadSingleFile(file){

          return new Promise((resolve, reject)=>{

          const formData = new FormData();
          formData.append("files", file);

          const preview = document.getElementById("preview");

          const cards = [...preview.children];

          const card = cards.find(c =>
             c.innerText.includes(file.name)
          );

          currentXHR = new XMLHttpRequest();

          currentXHR.upload.onprogress = (e)=>{

            if(e.lengthComputable){

             const percent = Math.round((e.loaded/e.total)*100);

             const circle = card.querySelector(".progress-bar");
             const text = card.querySelector(".progress-text");

             const offset = 125.6 - (125.6 * percent / 100);

             circle.style.strokeDashoffset = offset;

             text.innerText = percent + "%";
            }
          };

          currentXHR.onload = ()=>{

            if(currentXHR.status === 200){
              resolve();
            }
            else{
             reject();
            }
           };

          currentXHR.onerror = ()=>{
             if (cancelUpload){
                reject("cancelled");
             }
             else{
                reject("error");
             } 
          } 
          

          currentXHR.open("POST", `/upload?token={{ token }}`);

          currentXHR.send(formData);

          });
        }
        function cancelAll(){
          cancelUpload = true;
          if (currentXHR){
            currentXHR.abort();
          }
          uploadQueue = [];
          files = [];
          document.getElementById("fileInput").value = "";
          renderPreview();
          showMessage("Upload cancelled", false);
          isUploading = false;
        }

    </script>

</body>

</html>